<div class="form-wrappler">
  <form [formGroup]="formData" (ngSubmit)="submitForm()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="required-field" for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" [ngClass]="{'is-invalid': email?.touched && email?.invalid}" placeholder="Email" formControlName="email">
        <div class="invalid-feedback" *ngIf="email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Enter a valid email address</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label class="required-field" for="inputPassword4">Password</label>
        <input type="password" class="form-control" [ngClass]="{'is-invalid': pass.touched && pass.invalid}" id="inputPassword4" placeholder="Password" formControlName="pass">
        <div class="invalid-tooltip" *ngIf="pass.invalid">
          <div *ngIf="pass.errors?.required">Password is required</div>
          <div *ngIf="pass.errors?.minlength">Min {{ minPassLength }} characters</div>
          <div *ngIf="pass.errors.pattern">Password must have at least one lowcase, one uppercase, one number and one symbol</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" mask="00.000-000" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" [ngClass]="{'is-invalid': check?.touched && check?.invalid}" formControlName="check">
        <div class="invalid-tooltip" *ngIf="check.invalid">
          <div *ngIf="check.errors?.required">Must check</div>
        </div>
        <label class="form-check-label required-field" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="formData.invalid">Submit</button>
  </form>
</div>