.container-fluid {
     display:table;
     width: 100%;
     margin-top: -50px;
     padding: 50px 0 0 0; /*set left/right padding according to needs*/
     box-sizing: border-box;
}

.webview {
    height: 100%;
}

.first-row {
    height: 100%;
    display: table-row;
    display:table;
    width: 100%;
}

.first-row .no-float {
  display: table-cell;
  float: none;
}

.sidebar {
    padding: 0px;
}

.content {
    background: #666666;
}

.footer {
    display: table-row;
    background: #00aa00;
}