@import '../variables.scss';

.webview {
    height: 95%;
}

.first-row {
    min-height: 95%;
}

.sidebar {
    background: #ffffff;
    padding: 0px;
    border-right-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    max-width: 165px;
    // min-width: 165px;
    height: inherit;
    transition: all 0.3s;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

.second-row {
    height: 5%;
}

.footer {
    background: $primary;
    color: $text-color;
    margin-bottom: 0px;
}

.active {
    margin-left: 0px;
}

.not-active {
    margin-left: -165px;
}

@media (max-width: 950px) {
    .sidebar {
        min-width: 165px;
        z-index: 99;
        position: absolute;
        height: 95vh;
        // margin-top: 60px;
    }

    .webview {
        overflow: auto;
    }

    // .first-row {
    //     position: relative;
    // }

    // .content {
    //     margin-top: 60px;
    // }

    // #navbar {
    //     position: fixed;
    //     width: 100%;
    //     z-index: 99;
    //     margin-bottom: 5px;
    // }
}