<navbar id="navbar" *ngIf="loggedIn"></navbar>

<div class="container-fluid" [ngClass]="loggedIn ? 'webview' : 'webview-off'">

  <div class="row first-row">
    <div id="sideBar" *ngIf="loggedIn" class="col-2 sidebar" [ngClass]="active ? 'active' : 'not-active'">
      <sidebar></sidebar>
    </div>

    <div class="col-10 content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="row second-row">
    <div class="col-12 footer">
      <footer></footer>
    </div>
  </div>

</div>