@import '../variables.scss';

.webview {
    height: 93%;
}

.first-row {
    min-height: 95%;
}


.sidebar {
    background: #ffffff;
    padding: 0px;
    border-right-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    max-width: 200px;
    transition: all 0.3s;
}

.content {
    width: 100%;
    margin: auto;
}

.second-row {
    height: 5%;
}

.footer {
    background: $primary;
    color: $text-color;
}

.active {
    margin-left: 0px;
}

.not-active {
    margin-left: -200px;
}

@media (max-width: 768px) {
    .sidebar {
        min-width: 200px;
        z-index: 99;
        position: absolute;
        // margin-top: 60px;
    }

    // .content {
    //     margin-top: 60px;
    // }

    // #navbar {
    //     position: fixed;
    //     width: 100%;
    //     z-index: 99;
    //     margin-bottom: 5px;
    // }
}