.profile {
    text-align: center;
    margin: auto;
    padding: 10px;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.sidebar-list {
    margin-left: 0px;
    width: 100%;
}

.list-group-item {
    width: 100%;
    cursor: pointer;
}