
<div class="profile">
  <img class="profile-pic" [src]="avatar" />
  <br>
  <h4>{{ name }}</h4>
  <h6>{{ occupation }}</h6>
</div>

<div class="list-group sidebar-list">
  <a routerLink="/u/cards" class="list-group-item list-group-item-action">Cards</a>
  <a routerLink="/u/carousel" class="list-group-item list-group-item-action">Carousel</a>
  <a routerLink="/u/sample-tab" class="list-group-item list-group-item-action">Tabs</a>
  <a routerLink="/u/sample-form" class="list-group-item list-group-item-action">Form</a>
  <a href="#" class="list-group-item list-group-item-action">Contato</a>
  <a href="#" class="list-group-item list-group-item-action">Outros</a>
  <a (click)="signOut()" class="list-group-item list-group-item-action">Sign Out</a>
</div>